@model MyShop.data.models.Car

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.img" alt="@Model.CarName" />
    <h2>@Model.CarName</h2>
    <p>@Model.shortDesc</p>
    <p> Цена: @Model.Price.ToString("c")</p>
    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@Model.Id">Добавить в корзину</a></p>
</div>